
<div class="row">
  <div class="col-sm-2 text-center">
    <strong><%= comment.commenter %></strong>
  </div>
  <div class="col-sm-8">
    <p><%= comment.body %></p>
    <br>
  </div>
  <div class="col-sm-2">
    <% if comment.body? %>
    <%= link_to 'Delete', [comment.article, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>


</div>
